[2014-09-21 01:47] mdelvaux opened #1 "Include an other algo from the same family"
There is one set of algos related to Universal Portfolio, coming from the work of Gyorfi, check http://www.cs.bme.hu/~oti/portfolio/ .  If you are still active in that area, you should consider adding some of them.

On a side topic, thank you for making this code available.  I did develop some similar routines for R (package logopt), but I am in the process of standardizing on python for all my wo

[2014-09-26 12:29] #1 closed, assigned to nobody

[2015-07-10 15:34] mdelvaux opened #2 "Unable to install"
Trying to install, I got the error message below.  I am no expert in python install, trying to dig I can confirm that the file requirements.txt is not present in the temporary directory used by pip, but it is present in a (manually downloaded) ZIP file.

C:\Users\mdelvaux\AppData\Local\Continuum\Anaconda3\UniversalPortfolioMarigold>pip install --no-clean --no-deps  --no-cache universal-portfolios

[2015-07-12 17:23] Marigold commented on #2
I'm not really sure what can cause this, but installing python packages from ZIP is not the preferred way. The best way is to install it via `pip install universal-portfolios` or directly from github with `pip install git+https://github.com/Marigold/universal-portfolios.git`.

By the way great work on your [logopt package](http://r-forge.r-project.org/projects/logopt/), I got heavily inspired by i

[2015-07-13 02:29] mdelvaux commented on #2
Hi Marigold, thanks for the kind words.

Installation also fails with the other approaches.  I only did try to use
the zip approach to get better diagnostic.  Here is what happens with the
other commands (this is on a different machines but all of them use
Anaconda with python 3).  The main cause seems to be that requirements.txt
is not present in the temporary directory used by pip, i.e. where it

[2015-07-13 14:10] Marigold commented on #2
Oh, I missed that you're using python 3. Currently works only with python 2.7+, not with python 3. I'm planning a new release in 2 weeks so I'll try to make it compatible. Until then you can use [anaconda environments](http://www.continuum.io/blog/conda), something like this should do the trick
[code]

[2015-07-15 11:06] Marigold commented on #2
Added python compatibility to master plus tons of new improvements (see this [notebook for demonstration](http://nbviewer.ipython.org/github/Marigold/universal-portfolios/blob/master/modern-portfolio-theory.ipynb) if interested).

[2015-07-15 11:06] #2 closed

[2015-11-29 22:18] ricpruss opened #4 "The isinstance checks if cov_estimator and mu_estimator are strings in mpt.py are Python 2 only"
The isinstance checks if cov_estimator and mu_estimator are strings in mpt.py are Python 2 only.

I have just changed basestring to str on lines 49 and 63, but I it looks as if you need something more complex to be compatible with both versions of python.
http://stackoverflow.com/questions/11301138/how-to-check-if-variable-is-string-with-python-2-and-3-compatibility.

Thanks for a wonderful work,

[2015-12-05 08:49] Marigold commented on #4
Thanks for spotting this (shame on me for not writing tests). I fixed it in master & on PyPi (along with other minor improvements).

[2015-12-05 08:49] #4 closed

[2017-03-02 01:48] sym44 opened #5 "Optimization in CORN algo"
Hi,

While I am reading thru the codes, I found the optimization method in CORN algo a bit confusing:

`
    def optimal_weights(self, X):
        X = np.mat(X)

        n,m = X.shape
        P = 2 * matrix(X.T * X)
        q = -3 * matrix(np.ones((1,n)) * X).T

        G = matrix(-np.eye(m))
        h = matrix(np.zeros(m))
        A = matrix(np.ones(m)).T
        b = matrix(1.)

        sol = sol

[2017-03-05 08:17] Marigold commented on #5
Hm, you're right. What confuses me the most is the term `q = -3 * matrix(np.ones((1,n)) * X).T`, especially the 3 in here... The whole thing looks like markowitz optimization with `q = 3`.

Back to your question - no, they're not equivalent and I'll try to fix it asap.

[2017-03-05 11:24] Marigold commented on #5
Fixed it in master & pypi.

[2017-03-05 11:24] #5 closed

[2017-03-21 06:44] DexHunter opened #6 "How to calculate transaction cost?"
Hi! I read the [Li & Hoi's survey](https://arxiv.org/abs/1212.2129) and they mentioned a issue called *transaction cost*. I wonder if this package has already implemented transaction cost calculation or it was not implemented yet? Thank you!

[2017-03-21 14:18] #6 closed

[2017-03-21 14:28] DexHunter commented on #6
Sorry I found out it's actually under `result`. My bad. :cry:

[2017-03-30 16:58] DexHunter opened #7 "What is difference between `weight` and `step`?"
I see the comment for `step` is

and `weight` is

So if I want to calculate portfolio weight vector, I only need to call `step`?  But I see in `bah.py`, there is no `step` method. So I got really confused by these two functions, Can you explain a bit? Thanks in advance!

[2017-03-30 20:40] Marigold commented on #7
Sure. The `Algo` object can run in two modes - sequential or batch. If you use the sequential approach, the `step(self, x, last_b, history)` method will be called for each trading period (week / day / hour) and will return vector of weights for the next period. Most algos implement this method.

However, if your algorithm is simple enough, you can calculate weights for all periods in advance. This

[2017-03-31 01:29] DexHunter commented on #7
@Marigold Thank you very much!

[2017-03-31 01:29] #7 closed

[2017-08-11 06:25] jillnue opened #8 "Issue with result.plot()"
When I was trying to run Paul Perry's ' comparison of all algorithms ' yesterday, I found all the lines represent the result of each portfolios were all blue. Then I found it was because you have added a hightlight in result.plot() that will plot the portfolio again with color blue. I think maybe it will be better to make highlight an True/False args of plot().

[2017-10-24 15:19] akaniklaus opened #9 "Transaction cost optimization for online portfolio selection"
Implementation of the following recent strategy ("Transaction cost optimization for online portfolio selection") is missing from the framework, I would be glad if someone can implement this as well:
http://ink.library.smu.edu.sg/cgi/viewcontent.cgi?article=4761&context=sis_research

[2017-10-24 17:13] akaniklaus commented on #9
"Passive Aggressive Algorithm for Online Portfolio Selection with Piecewise Loss Function" In this paper, they also claim to improve over PAMR, maybe this technique can be utilized to improve PAMR and WMAMR algorithms that are implemented in the current framework. Please, check.

[2017-10-25 07:45] akaniklaus commented on #9
"Online Learning of Commission Avoidant Portfolio Ensembles" This paper also seems to propose a notable method for using an ensemble of OLPS algorithms, in a commission avoidant manner.
https://arxiv.org/pdf/1605.00788.pdf

[2017-10-31 11:59] akaniklaus commented on #9
If anybody is interested to implement TOC method also Universal Portfolios, please contact me so that I can send MATLAB implementation of the technique, which its authors kindly shared with me.

[2017-10-31 15:50] Marigold commented on #9
Hey @akaniklaus, sorry but I'm a bit busy these days and don't really have time for implementing all new research. There haven't been any major ideas recently anyway.

[2017-11-01 18:53] akaniklaus commented on #9
@Marigold Hello, not problem at all. I should first thank you for providing this great library. If you still want to receive TOC method's MATLAB codes, please let me know (kamer@livabout.com). P.S. TOC paper is from the team (Bin Li & Steven Hoi) who developed OLPS toolbox.

[2017-11-01 19:01] akaniklaus commented on #9
@Marigold Do you know any interesting work that is using an ensemble of these algorithms btw?

[2017-11-02 12:10] Marigold commented on #9
Can't remember any right now, but I've seen plenty doing this using OLMR(OLMR(OLMR)) and so on. Haven't found much use in it, it's just pure overfitting.

The problem with these papers is that they have survivorship bias (which is a huge deal if your strategy is mean-reverting) and they tune it to specific datasets (NYSE, TSE, ...). To be honest, I'm not using any of these OLMAR-type strategies, b

[2017-11-08 08:18] akaniklaus commented on #9
Thank you for your feedback! I also started experimenting with them after your notice but it is hard to decide for a training and waiting period (by the way, I am trying to work with cryptocurrencies).

As I am a bit skeptical about the behaviour of simplex projection that often bets into only one asset (especially in such a volatile space as crypto-currencies), I rather used following transformat

[2017-11-08 14:57] Marigold commented on #9
I guess it could work on cryptocurrencies, but only if they are mean
reverting. As for your transformation to simplex, if it works or not
depends highly on the nature of your data. One problem from theoretical
standpoint is that your formula is not idempotent and also gives positive
weights to assets that would have weight zero otherwise.

On Wed, 8 Nov 2017, 09:18 akaniklaus, <notifications@githu

[2017-11-08 21:54] akaniklaus commented on #9
FYI, I am still testing it but TCO-1 Implementation should be as follows. (I will also add TCO-2 here)

def tco1Step(x, last_b, history, eps=10.0, lambda=0.025):
    mr_x = 1.0 / x
    x_pred = eps * (mr_x - np.mean(mr_x)) / np.dot(last_b, mr_x)
    weight = last_b + np.sign(x_pred) * np.max(abs(x_pred)-lambda*eps, 0)
    return simplex_proj(weight)

P.S. lambda = commission * 10.0

[2017-11-11 15:29] akaniklaus commented on #9
<img width="890" alt="rmr- with simplex projection" src="https://user-images.githubusercontent.com/7537828/32690834-5fb18002-c6fd-11e7-9ea3-95588ad5d072.png">

I guess that they are as I was able to obtain good results with RMR during backtesting, at least for some periods. I am now running it for live-trading with couple of improvements that I have made, such as intra-day trading with a sliding w

[2017-11-12 15:14] Marigold commented on #9
Markowitz is for passive investing (basically how to best diversify your portfolio). If you look for trading algorithms, then RMR and others are more suited for that.

[2017-11-14 14:06] akaniklaus commented on #9
FYI, I've read a thesis that suggests three weeks of back window and two weeks of holding time for a Markowitz portfolio in cryptocurrency domain. I guess that I might try something like that as well.

[2017-11-15 10:59] Marigold commented on #9
Would you mind providing a link? Sounds like overfitting at its best :).

[2017-11-15 23:02] akaniklaus commented on #9
It doesn't seem the best thesis but :)
https://thesis.eur.nl/pub/39587/Stoffels-J-450577-MA-thesis.pdf

[2017-11-16 11:57] akaniklaus commented on #9
Here it says that they're using FTSE Russel’s capping methodology:
https://static.crypto20.com/pdf/c20-whitepaper.pdf

[2017-11-19 16:34] akaniklaus commented on #9
This thesis (Bayesian ensembled Mean-Median Reversion) is also interesting:
https://akraichand.github.io/KSE966.pdf

[2017-11-19 18:16] Marigold commented on #9
Maybe, but it's still just overfitting on these standard datasets.

On Sun, Nov 19, 2017 at 5:34 PM akaniklaus <notifications@github.com> wrote:

[2017-11-23 14:22] akaniklaus commented on #9
Well, that's how generally Academia is :) Still, worth to take a look and try improving. The biggest problem that I am facing at the moment with RMR on crypto currency space is that it takes serious damages by buying recently pumped assets that are being dumped, apart from that it seems to be making profits. Overall, I can say that it managed so far to not lose any significant portfolio value.

[2017-11-26 09:32] akaniklaus commented on #9
I would also like to let you know that, high-interest lending is also possible in cryptocurrency field. Since that you're interested with longer-term portfolio rebalancing methods such as Markowitz, I believe that a lending bot could make a great sense to use in conjunction with such methods:
https://github.com/BitBotFactory/poloniexlendingbot

[2017-11-26 11:36] Marigold commented on #9
Didn't know about it, thanks. I checked it out though and it looks like
annualized interest rate is <1%. Or am I wrong?

On Sun, Nov 26, 2017 at 10:32 AM akaniklaus <notifications@github.com>
wrote:

[2017-11-28 11:44] akaniklaus commented on #9
You're wrong, it is much higher. Please, check here for historical lending rates.
https://www.coinlend.org/#!History

[2017-11-28 13:30] akaniklaus commented on #9
Wouldn't be better to use Markowitz Portfolio with Sortino Ratio or Expected Maximum Drawdown?
http://alumnus.caltech.edu/~amir/mdd-risk.pdf

Did you ever check this implementation that is also nice? https://github.com/czielinski/portfolioopt

[2017-11-28 21:09] Marigold commented on #9
The interest rates are interesting indeed. I'll have to do some research on
my own.

As for using Sortino ratio or expected drawdown - I haven't tried these in
particular, but I've tried optimizing other metrics than `mu - q * sigma`
like historical sharpe or drawdown. It didn't work that well, but maybe the
theoretical results from that paper could be better than optimizing purely
on historical d

[2017-11-29 12:39] akaniklaus commented on #9
About Sortino Ratio:
 https://www.sunrisecapital.com/wp-content/uploads/2013/02/Futures_Mag_Sortino_0213.pdf
They also mention about Omega Ratio at the end of the document.

[2017-12-14 08:00] akaniklaus commented on #9
@Marigold This paper is very interesting:
"Algorithmic trading in limit order books for online portfolio selection"
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2952371

[2017-12-25 08:46] brzkhv opened #10 "simplex projection"
Hello @akaniklaus. Sorry, I don't have exactly an issue but a question regarding simplex projection.
I tried to contact the authors of PAMR paper but it seem their email address is not valid anymore so I thought that I would ask you.
I was wondering that relaxing the non-negativity constraint and then projecting the solution keeps the optimality of the solution? and if we try to solve the problem

[2017-12-25 15:52] akaniklaus commented on #10
Hello, I am using a SoftPlus activation function instead of Simplex as it enables a better portfolio diversification. It might not perform as good as Simplex in backtests but I believe that there are some significant advantages in live-trading.

[2018-03-02 22:11] stergnator opened #11 "min_history for CORN"
Hi @Marigold,

I am experiencing reproducibility issues when using different values for min_history on the CORN algorithm.  I have narrowed the issue down to how the X_t and X_i objects (lines 104 & 105) are created in algos/corn.py .

I wonder if I don't understand what min_history is supposed to accomplish?  Here's how I understand min_history to work.  Let's say I am using 10 years of daily dat

[2018-03-04 08:55] Marigold commented on #11
You are understanding it properly (btw here's docstring just for completeness)
[code]

The reason why weights differ is:
a) At time `t - 20` CORN will start on-line updating using **uniform weights** from time `t - 21`
b) CORN will start computing at `t - 40`, so at time `t - 21` the weights will be far from uniform. CORN will however use them to calculate weights at time `t - 20`

Does it make se

[2018-03-13 18:30] stergnator commented on #11
I think I found the problem.  It is on line 63 in corn.py .  I changed

`self.t = -1`
to
`self.t = self.min_history - 1`

Stergios

[2018-03-16 14:16] #11 closed

[2018-04-07 08:05] akaniklaus commented on #9
@Marigold Any idea on how to preselect a limited set of best assets for mean-reversion algos? I don't prefer Markowitz to do that because in crypto market correlations shouldn't be as important as in stocks

[2018-04-08 13:14] Marigold commented on #9
Hm, from top of my head I can think of these metrics to quantify mean-reversion behavior:
1. fit ARCH-like model to time series and look at its coefficients
2. calculate Hurst exponent
3. backtest mean-reversion strategy on assets and pick these that performed well (you can do some kind of bootstrap to reduce variance of the estimate)

Probably not the answer you were looking for :) I'd recommend

[2018-04-17 01:36] booxter opened #13 "new pip 10.0 breaks installation"
[code]

[2018-04-17 01:37] booxter commented on #13
Some details about the root cause of the issue here: https://stackoverflow.com/questions/49837301/pip-10-no-module-named-pip-req

Basically, pip 10.0 intentionally broke everyone who imported the module because it's not supposed to be used programmatically by external dependencies.

[2018-04-17 06:49] #13 closed

[2018-04-23 10:56] akaniklaus commented on #9
@Marigold Plenty of papers but unfortunately not when it comes to real problems and their solutions.

[2018-06-07 20:05] akaniklaus commented on #9
@Auxiliumdesign You can reach me via hi@hold.fund

[2018-06-11 11:11] Auxiliumdesign commented on #9
I've sent you a message!

[2018-06-21 19:21] SpiryMedia opened #15 "from pandas.stats.moments import rolling_mean as rolling_m ModuleNotFoundError: No module named 'pandas.stats'"
[code]
I am running a code that uses universal-portfolio as library but I get this error that seems to come from universal-portfolios itself.

[2018-06-24 16:27] Marigold commented on #15
Hm, pandas library made some breaking changes in version 0.23. Could you either run `pip install pandas==0.22.0` or reinstall `universal-portfolios` (I've updated the version on PyPi)?

[2018-06-24 16:28] #10 closed

[2018-06-24 16:28] #9 closed

[2018-06-25 23:46] SpiryMedia commented on #15
I will try it, but already move-on of using universal-portfolios.

Thanks for support!

[2018-06-25 23:46] #15 closed

[2018-08-10 16:09] behzad-mehrtash opened #16 "Interpretation Issue"
HI.
I've been trying to test algorithms with data provided by you. but I don't understand the meaning of measures provided by result.summary(). like profit_factor and turnover.
and also couldn't figure out how much is the initial investment when running algorithms? and what do Annualized return and Turnover mean in that regard?

![image](https://user-images.githubusercontent.com/3426449/43968779-5

[2018-12-04 11:24] swishderzy opened #17 "Data information"
Hi,
It would be great to know about the granularity and time frame of the data, and the transformations done to these stocks prices.

Thank you.

[2018-12-04 12:12] Marigold commented on #17
What data are you referring to?

[2018-12-04 12:14] swishderzy commented on #17
The .pkl data in:   universal/data/

[2018-12-04 12:16] Marigold commented on #17
It's daily. Just be aware that it's more than 5 years old.

On Tue, Dec 4, 2018 at 1:14 PM Khaled Denfir <notifications@github.com>
wrote:

[2018-12-04 12:34] swishderzy commented on #17
- Can you tell me the time frame of these data (from date to date).
- And what kind of transformations you did on these prices (from simple prices values to their actual state), it's clearly absolute prices but how exactly did you compute these absolute prices ?

[2018-12-05 12:15] Marigold commented on #17
I don't remember to be honest. You can do
[code]
and check for yourself.

[2018-12-05 12:15] #17 closed

[2019-04-20 16:21] mpeters999 opened #18 "min_history for MPT"
Thank you for your code. This is a problem I have with MPT. In algo.py at
    def weights(self, X, min_history=None, log_progress=True):
        """ Return weights. Call step method to update portfolio sequentially. Subclass
        this method only at your own risk. """
        min_history = self.min_history if min_history is None else min_history

self.min_history has not been initialized(is 0)

[2019-04-21 14:05] mpeters999 commented on #18
I see now it can just be initialized,e.g.
algos.MPT(min_history=252)

[2019-05-01 08:13] #18 closed

[2019-05-06 19:14] windwine commented on #15
reverting back to 0.22.0 is messing up with other pd functions. Is there a way to work around it? THX.

[2019-05-15 08:17] gt1967 opened #19 "ModuleNotFoundError: No module named 'algos'"
Hello !
Trying to test the onlineportfolio.ipynb and got this error:
_ModuleNotFoundError: No module named 'algos'_
It's related to the ucrp flag in result.plot(weights=False, assets=False, ucrp=**True**, logy=True); in effect If I set ucrp = **False** I don't get the error, but of course I don't see the ucrp graph.
Thank you for your good work.

[2019-05-15 09:48] Marigold commented on #19
Sure, I'll look into it.

On Wed, May 15, 2019 at 10:17 AM gt1967 <notifications@github.com> wrote:

[2019-05-15 10:10] gt1967 commented on #19
Solved. It would be enough to write on line 385 of result.py:
from **.**algos import CRP
Instead of:
from algos import CRP
Do the same at row 297 and 393

BTW I had to restart the kernel to see the effect on my jupyter notebook

[2019-05-15 10:10] #19 closed

[2019-06-20 21:57] xanderdunn opened #20 "No module named 'pandas.stats'"
pandas 0.24.2
universal-portfolios 0.3.3

When I attempt to `from universal import algos`, I get this error:
[code]

It looks like #15 already ran into this issue.  The library should be updated to latest pandas.  Newer projects will be unable to revert pandas version to 0.22.

It looks like the only two instances that need to be updated are in tools.py:
[code]

I believe [this](https://pandas.pyd

[2019-07-01 14:03] #20 closed

[2019-07-01 23:32] firmai opened #22 "Kelly"
Hi, I know you are not actively working on this project, but I was wondering from your own experience if you have ever gotten the kelly algo to work?

Best regards,
Derek

[2019-07-02 19:09] Marigold commented on #22
It all depends on your inputs - mean return and covariance matrix estimates. If your estimates are crap (like historical means), so will be kelly portfolio.

[2019-07-03 11:22] firmai commented on #22
Excellent thanks.

[2019-07-03 15:11] Marigold commented on #22
Check out this article https://investresolve.com/blog/portfolio-optimization-simple-optimal-methods/, it's an excellent overview of portfolio allocation methods.

[2019-07-03 15:11] #22 closed

[2019-07-09 22:53] firmai commented on #22
Excellent thanks :)

[2019-11-09 08:15] dexhunter commented on #19
same issue
![image](https://user-images.githubusercontent.com/6930518/68525398-06fdab00-030c-11ea-9a2a-f7540f87b4e3.png)
But did not solved by changing to `**.**algo`. Are there any other solutions? thanks!

[2019-11-11 10:45] dexhunter opened #24 "How to add leverage"
Hi, just wonder if it is possible to do short or add leverage? Thanks!

[2020-01-24 10:58] angonyfox opened #26 "Duplicate import comb in algo.py"
https://github.com/Marigold/universal-portfolios/blob/e2c147b128e9fdbf912ab8aa1d860406a4c62d37/universal/algo.py#L9 should be remove because https://github.com/Marigold/universal-portfolios/blob/e2c147b128e9fdbf912ab8aa1d860406a4c62d37/universal/algo.py#L11-L14 will import comb

[2020-01-27 09:29] Marigold commented on #26
Yep, you're right. Feel free to add it to your PR or otherwise I'm gonna fix it in my next PR.

[2020-04-03 23:30] Jackal08 opened #28 "Package Adoption"
Hi @Marigold,

The python package for financial machine learning [mlfinlab](https://github.com/hudson-and-thames/mlfinlab) would like to extend our library to include online portfolio selection algorithms.

We would love to adopt and productionalise the code you have here into our library for others to use. We will make sure to give attribution to you. It would be great to open a dialog and discus

[2020-04-12 12:20] Jackal08 commented on #28
Hi @Marigold,

Thank you very much for your blessing. We will make sure to keep you posted if we use any of the codebase here. Much appreciated.

For your reference, the following is our project board: https://github.com/orgs/hudson-and-thames/projects

[2020-05-01 23:29] YairMZ opened #29 "On-Line porfolios IPython notebook"
I was going over the example notebook to get some introduction, and the binder complained that the notebook is in an old format, and requires an update or else it might be impossible to use in the future.

Perhaps you could update it to the current version?

[2020-07-19 23:30] #28 closed

[2020-08-06 16:13] sword134 opened #30 "Adding or substracting the latest dataset entry makes the model perform differently"
**Describe the bug**
If one has a dataset of the daily closing prices of lets say 30 stocks and add the latest closing prices for the new day, then the model trained on the dataset-newest entry will no longer yield the same returns. It wont even have the same weights, this is very concerning as 1 new data entry shouldn't be able to affect the previous days weights or returns, instead the OLPS algo

[2020-08-31 14:14] Marigold commented on #30
@sword134 could you provide a concrete example, please? There's even a test checking for forward bias and it always produces the same weights. It's possible that there's a bug somewhere though, so having an example I could test it against would be helpful.

[2020-08-31 14:16] #26 closed

[2020-09-01 07:18] Marigold commented on #29
Took me some time, but the newest version 4.0.1 is compatible with binder. There are links in README for the two main notebooks.

[2020-09-01 07:18] #29 closed

[2020-10-01 15:39] Abdoulaye-Ba commented on #20
No module named 'pandas.stats'
I have this problem. I need really your help to install that module

[2020-10-01 18:41] Marigold commented on #20
@Abdoulaye-Ba could you post the full stackstrace? This shouldn't be the problem anymore.

[2020-10-03 15:49] ashraf-01 opened #32 "error while running On-line portfolios.ipynb"
hi all
am getting the following error **(RuntimeError: dictionary changed size during iteration**) after running the following code
list_result = algos.OLMAR.run_combination(yahoo_data, window=[3,5,10,15], eps=10)

 is there any reason for that and can you help on that issue ?

am using python 3.7 (installed via anaconda packaging system ) on linux machine with18.04 ubuntu distribution

I noticed

[2020-10-06 06:57] Marigold commented on #32
Hey @ashraf-01, I've tried to replicate it but didn't get any error. Could you post a full example and full stack trace, please?

My bad, I was replacing them during the last upgrade but forgot a few. The new release should only use LOC and ILOC.

These algorithms are not intended to be used in real trading. If you want to do so, the best approach is probably to take relevant chunks of code from t

[2020-10-07 16:13] ashraf-01 commented on #32
THANKS I WILL POST A SCREEN SHOT OF THE ERROR VERY SOON , I HAVE A LOT OF FILES GOING AROUND , SO IT MIGHT BE THE CASE THAT I BETTER USE VIRTUAL ENVIRONMENT AND THEN REPEAT THE RUNNING OF THESE ALGOS INSTEAD OF MY BASE ENVIRONMENT , HAVE YOU UPGRADED ON YOUR COMPUTER ANY ONE OF THESE LIBRARIES AVAILABLE WITHIN THE requirments.txt file ?

[2020-10-07 16:28] Marigold commented on #32
No. If you want to replicate it and be sure you have correct requirements you can use binder (see links here https://github.com/Marigold/universal-portfolios#resources)

[2020-10-07 16:35] ashraf-01 commented on #32
GREAT DO YOU WORK FOR BINDER ?

[2020-12-22 16:19] hanseul-jeong opened #34 "Strategy of "Best ""
Hi, thanks for well-organized code

I have a question about **Best** strategy
**BestSoFar** seems to be different from **classic best method**

If **BestSoFar** is different strategy, could you tell me a definition or details?

Thanks!

[2020-12-28 07:43] Marigold commented on #34
The difference is that `Best` selects a strategy **in hindsight** and `BestSoFar` only looks at the history and selects a strategy with the best performance **up to date**.

[2020-12-28 12:26] hanseul-jeong commented on #34
Thanks for comments !

[2020-12-28 12:26] #34 closed

[2021-01-16 21:13] anaderi opened #36 "Code de-deprecation"
There is a function in `tools.py` that has been deprecated long-time ago.
[code]

I believe if one replaces it with
`return df.rolling(kwargs['window']).cov(other=df, pairwise=True)`
then access to the S matrix would look like `df[name].unstack()`. Or am I missing something?

[2021-01-18 14:05] Marigold commented on #36
That's correct. As you may have noticed, not all parts of this library are up to date and the test coverage is quite poor... I'll fix it when I have some extra time. Is something not working because of this?

[2021-01-19 09:32] Auxiliumdesign opened #37 "MAMR"
Hi! I would love to see this one added.
https://www.hindawi.com/journals/ddns/2020/5956146/
It outperforms previous methods and seems to be not very different from the OLMAR and PAMR / WMAMR

[2021-01-19 14:15] Marigold commented on #37
Hey @Auxiliumdesign, unfortunately, I don't have much free time these days, so I can't promise anything. Anyway, I briefly skimmed through the paper. First, MAMR doesn't add anything new to the game and second, the outperformance is not statistically significant. Anyway, implementing it yourself shouldn't be hard and I'll be happy to review your PR.

[2021-01-21 01:01] anaderi commented on #36
nothing terrible is happening with those outdates, but I find this library really nicely designed and written. So wanted to help it to be up2date.

[2021-01-21 15:01] Marigold commented on #36
haha, I would say exactly the opposite :D thanks though, I'm gonna fix it in next version

[2021-01-21 15:01] #36 closed

[2021-01-27 07:16] jirichmel opened #38 "Which data format to use with OLMAR?"
Hello, I have been trying to use the algorithms but since there aren't any docs (just the ipython notebooks) I want to ask what kind of format actually goes into the OLMAR method. Is it the ratio of prices, which is at time t we have price ratio p_t / p_(t-1) which basically means the ratio of the current price and the previous price OR is it the actual price of the asset at time t which should be

[2021-01-27 10:25] Marigold commented on #38
Yeah, the docs are crap, sorry for that :( All algos (i.e. `Algo.run(...)`) accept raw price data which are internally converted to whatever you specify with `Algo.PRICE_TYPE`. So the correct usage is

[code]

These extremely poor results are correct :). The reason OLMAR works well on price ratio is that it works best for mean-reverting time series (and treats price ratio as raw price).

[2021-01-29 12:35] jirichmel commented on #38
Okay, that you very much, I just read the code, very nice. One more question: how does the fees work? Does the model account for two fees, e. g. I have stock bought, then sell it for money, pay 0.1% fee and then buy something again so I pay 0.1% fee again. I should pay approximately 0.2% in fees. So do i put result_withou.fee = 0.001 to account for all these fees or result_withou.fee = 0.002 to ac

[2021-02-04 20:32] alexander-myltsev commented on #36
@Marigold thanks for the descent work.

Could you create a space (gitter, slack, or else) where the community can ask you questions on how to run the stuff? It basically doesn't work at several places.

[2021-02-05 08:54] Marigold commented on #36
Github issues is the right place, I unfortunately don't have time to give realtime support. If you describe the issues I'll try to find some time to fix them.

[2021-02-17 11:52] alexander-myltsev commented on #36
@Marigold I made PR https://github.com/Marigold/universal-portfolios/pull/40

[2021-03-18 18:13] alexander-myltsev opened #41 "Impact of Ledoit-Wolf covariance estimation"
Hi @Marigold,

You suggested to implement Ledoit-Wolf covariance estimation at the end of [modern-portfolio-theory.ipynb](https://github.com/Marigold/universal-portfolios/blob/master/modern-portfolio-theory.ipynb).

I read the paper. The shrinkage ratio of `F` estimator should go to zero when there are 11 assets or so. To show the benefit they made an estimation for ~900 assets having monthly hist

[2021-03-18 18:36] Marigold commented on #41
You're absolutely correct. I tried Ledoit-Wolf and the impact is minimal on a universe on ~10 assets. It might even screw up your optimization if you have assets with ~1 correlation in there (e.g. QQQ and TQQQ). There's even a cooler paper https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3530390 with a similar, theoretically sound idea, but its impact is negligible too. The most critical thing

[2021-03-18 19:30] alexander-myltsev commented on #41
OK. Thanks for your reply.
Did you try Black-Litterman? What's the impact?

[2021-03-22 20:21] alexander-myltsev commented on #41
@Marigold would you answer ⬆️ ?

[2021-03-23 07:25] Marigold commented on #41
I haven't implemented it, BL is just a framework, you still need to come up with return estimates. I'm for instance using an assumption of constant Sharpe ratio across all assets (i.e. return = sharpe * volatility) and then put it into MPT optimization. That gives reasonable allocation across assets (I believe it even has a name, just don't remember what it was). Pretty much all experiments where

[2021-04-13 17:47] DrPaprikaa opened #42 "Practical use"
Hi,
I just discovered your very cool repo. I was able to play with the parameters on my own historical data using :

    algo = algos.OLMAR(window=5, eps=10)
    result = algo.run(self.df)

The Jupiter Notebook has a "_How to write your own algorithm_" section but it is not, in my sense, very comprehensive.

How can I translate this algo into something that works realtime ? How do I feed the data

[2021-04-14 06:10] Marigold commented on #42
Hey, this is solely a research project, it's not meant to run in "production". For that, you'll need to connect to a broker (like IB or something, there are tons of packages that can help you with that). OLMAR is such a simple algorithm that once you understand it, you can integrate it into your production code in like ~50 lines.

[2021-04-14 16:05] DrPaprikaa commented on #42
Thanks for the quick reply. I already have a production algo and I have been researching strategies for a while now.
I recently came across online portfolio selection algorithms and your repo specifically. I would like to understand how your code works and how I can input it in my personnal backtester, and ultimatly run it live.

[2021-04-15 15:39] Marigold commented on #42
Understanding it is pretty easy, for instance [OLMAR](https://github.com/Marigold/universal-portfolios/blob/master/universal/algos/olmar.py) has just 70 lines. The `step` method returns portfolio weights for every time step from available inputs (last portfolio weights and historical prices). That's pretty easy to copy into any backtester.

[2021-04-24 14:43] DrPaprikaa commented on #42
Thank you for your answer. I managed to get my head around OLMAR and how it works. Do you have any resources on how to translate the portfolio weights at each time step into the balances of each asset ? I mean, is there a mathematical relation between the weights at t, the balance in quote asset at t and the balances in base assets at t ?
Thanks !

[2021-04-27 14:58] DrPaprikaa opened #43 "Initial weights in OLMAR"
Hi,

I played with [olmar.py](https://github.com/Marigold/universal-portfolios/blob/master/universal/algos/olmar.py) with various `window` and `eps` parameters.

It appears that when setting all of the initial weights to zero (we haven't invested anything yet), the weights `last_b` at the first time step are always set to 1/N, with N the number of stocks in the portfolio. Then, at the next step, a

[2021-05-27 10:08] gitcnd opened #44 "ModuleNotFoundError: No module named 'pandas.stats' / no tools.py"
a) Update: looks like you need to update your instructions to tell us to install anaconda3 ?
b) Looks like you need to explain to people that "universal" (your module) is NOT the same thing as "universal" (Shubham Chaudhary's compile tool from 2014)...

Suggestion - fix your doc to say this for "install":

[code]

I followed these instructions: https://github.com/Marigold/universal-portfolios - in

[2021-05-27 10:09] gitcnd commented on #20
Here is the fix:

1. install anaconda3
2. pip uninstall universal
3. pip install universal-portfolios

[2021-05-31 18:48] #42 closed

[2021-06-01 14:22] Marigold commented on #44
Hey Chris, sorry for the late response.

Good idea, I'll emphasize that only python 3 is supported in the newest version.

As for the error with `from pandas.stats.moments import rolling_mean as rolling_m`, if you check source code you'll see that the line from stackstrace has been removed a few months ago. It looks like you're using an old version for some reason. Maybe using Python 2 would insta

[2021-06-01 14:26] Marigold commented on #43
Good catch, that's most likely a bug. I haven't used olmar for quite some time. In case you have a fix, could you create a PR?

Sure, you can subclass method `OLMAR.init_weights` and set all weights to zero. You might also have to subclass `update` to avoid weight change penalization when starting with zero weights.

[2021-06-02 21:52] DrPaprikaa commented on #43
I checked but couldn't find the issue : maybe some transformation due to the simplex projection ? I don't know.
Closing this issue for now, feel free to re-open it if you have an idea :)

[2021-06-02 21:52] #43 closed

[2021-06-02 22:27] DrPaprikaa opened #45 "Transaction Costs Optimization"
Hi,

Correct me if I'm wrong, but the various algos implemented in this wonderful repo have been tested in the litterature in the framework of non-existent transaction costs.

[This paper](https://ink.library.smu.edu.sg/cgi/viewcontent.cgi?referer=&httpsredir=1&article=4761&context=sis_research) improves existing OLPS strategies in the case of non-zero transaction costs, maybe you've already read

[2021-06-08 14:20] Marigold commented on #45
Yeah, adding a parameter for controlling transaction costs would be cool. Could you open a PR for that? I'll be happy to review it.

[2021-06-08 17:46] DrPaprikaa commented on #45
I opened a PR with an implementation of my interpretation of TCO, which needs checking. Cheers :)

[2021-06-28 21:07] DrPaprikaa commented on #45
Closing this issue, TCO has been implemented in [#47](https://github.com/Marigold/universal-portfolios/pull/47).

[2021-06-28 21:07] #45 closed

[2021-06-29 15:26] DrPaprikaa opened #51 "Enable the 'Used By' button on the repo"
Hi @Marigold,

A nice and simple addition to this package would be to [enable the Used By button](https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/exploring-the-dependencies-of-a-repository) on the side-bar. This would be great for both the community and yourself, since this repo would be linked to all the projects using universal-portfolios.

[2021-08-12 09:31] devchild opened #56 "Id like to see W-KACM added"
Any plans on adding...
It's a variation on Anticor...

paper can be found https://doi.org/10.1016/j.physa.2019.04.185

[2021-08-12 11:18] Marigold commented on #56
Hi devchild, no plans due to lack of time. Still, the paper shows that it performs worse than others in terms of sharpe ratio, so I don't see much point in adding it.

[2021-08-12 11:52] devchild commented on #56
I guess it depends on the dataset, there's no real comparison in the paper.
The algorithm seems very interesting as it exploits both reversal as momentum...Anticor only exploits reversal.
I hope someone else finds the time to add it to this library...

[2021-08-17 22:19] jmrichardson opened #57 "Predictive measure for portfolio rebalancing"
Hi,

I am very new to OLPS/universal-portfolios and very impressed! I was hoping that UP could implement a ranking strategy using a predictive measure to rebalance the portfolio. The idea is described [here ](https://www.reddit.com/r/algotrading/comments/mtp8b5/beating_the_market_with_the_simple_possible/)and basically involves balancing a portfolio daily based on a prediction value for each equit

[2021-08-18 19:31] jmrichardson commented on #57
Downloaded and learned more about OLPS and this lib.  Looks like it does what I need it to do.  Thanks.

[2021-08-18 19:31] #57 closed

[2021-08-19 08:32] Marigold commented on #57
Hey @jmrichardson, I found the reddit post quite interesting and thought it would be a good example for this package. So I've done a quick implementation in this notebook https://github.com/Marigold/universal-portfolios/blob/master/examples/Beating%20the%20market%20with%20the%20simple%20possible%20predictive%20metric.ipynb. You can run experiment with it and validate with mybinder https://mybinder

[2021-08-19 14:43] jmrichardson commented on #57
hi @Marigold ,

Wow!  Thank you so much for putting this together.  I have looked through the notebook and amazed how efficiently you rebuilt the methodology!  I am going to spend some time learning how to use your lib withthese noteboooks.  Also, would it be ok to reply to the reddit post with a reference to the notebook?  I think it would be helpful to others who may be enticed by his claim.  I

[2021-08-24 19:08] Marigold commented on #57
There's actually nothing fancy from the library. It just constructs weight matrix and then run CRP which is the simplest thing possible.

Absolutely, but please be aware that the notebook might have bugs (especially due to my misunderstanding).

Even random long strategy on Nasdaq would have huge sharpe ratio during that period. I think that this strategy prefers high volatility stocks which perfo

[2021-08-28 15:28] Yop127 opened #59 "Issue on CORRN (slow version)"
Hello,
Tried on Binder the slow version of the CORRN algo, there is an error (dimension mismatch on arrays).
![image](https://user-images.githubusercontent.com/63490871/131222753-35a5f35f-e109-44ba-a62d-1a33407c0168.png)

Error should come from here:
`            X_t = history.iloc[-window:].values.flatten()
            for i in range(window, len(history)):
                X_i = history.iloc[i - w

[2021-08-30 12:20] Marigold commented on #59
Thanks for reporting this, your fix looks correct. I've fixed it and compared to the fast version.

[2021-08-30 12:20] #59 closed

[2021-09-02 09:46] devchild opened #60 "DynamicCRP ==> Tools.py ==> opt_weights ==> assert X.notnull().all().all()"
DynamicCRP no longer works because of an assertion in Tools.py

[2021-09-07 05:56] GXY2017 opened #61 "LINK : fatal error LNK1181: cannot open input file “m.lib” # issue"
On windows 10, 64bit,  report
[code]
Thought it was a C compile problem, my windows 10 may not support this.
I then installed ms visual studio and C++ 14,  the error still appears.

[2021-09-07 06:42] GXY2017 commented on #61
Let me close this myself.
I reinstalled ms visual studio 2019 and Desktop Development with C++.  Then pip,  there is no error.

[2021-09-07 06:42] #61 closed

[2021-09-08 15:10] GXY2017 opened #63 "undefined self.window in update_tco() in algo.py"
I don't understand where self.window is defined. Guess self.window =1 since update in one step.
[code]

[2021-09-09 10:22] Marigold commented on #60
That's a safety measure I've added. It turned out dealing with missing values is trickier than I expected (results in unexpected behavior). It's often safer to backfill your data or drop missing values. Do you have any particular use case?

[2021-09-09 10:22] Marigold commented on #63
You're right, it's a bug. It shouldn't use `window` at all. Thanks for spotting that. I've read more about TCO (https://ink.library.smu.edu.sg/cgi/viewcontent.cgi?referer=&httpsredir=1&article=4761&context=sis_research) and decided to move it to a separate algorithm. The algo "TCO" is available in the newest package version.

cc @DrPaprikaa I took your code and moved it to a separate file (plus fi

[2021-09-09 10:24] #63 closed

[2021-10-16 22:25] msacastle opened #64 "Invalid equity result using result weight"
Hi, thanks for your excellent library.
I tried to verify the result using 15 days of data with SPY, GLD, TLT.
For the given weights resulting from the calculation of Olmar, I did the manual calculation as in sheet 1.

https://docs.google.com/spreadsheets/d/19svAxgDhEdOvGfWfQhcfH-V-7Kp94tTU/edit?usp=sharing&ouid=113915791728325835951&rtpof=true&sd=true

The final equity is in the total column.  I n

[2021-11-15 18:04] echonax07 opened #65 "MaybeEncodingError"
While running

`train_olmar = algos.OLMAR.run_combination(train, window=5, eps=[3,5,10,15])`
`train_olmar.plot()`

I get the following error
[code]

[2022-01-04 11:11] rickypp opened #67 "Issue with Mac M1"
Dear all,
It is impossible to install with Mac M1.
A lot of issue with the version of Scikit-learn, statmodels,cvxopt.
Could you help me?

Thanks

Riccardo

[2022-01-04 19:34] Marigold commented on #67
Hi @rickypp, unfortunately I don't have M1 chip so can't test it myself, but it seems to be a known problem and you can try out e.g. https://stackoverflow.com/questions/68620927/installing-scipy-and-scikit-learn-on-apple-m1.

If you find that you need newer versions of some libraries to run it, please let me know and I can try updating them.

[2022-03-23 16:28] r-zip opened #73 "Data information"
Hi, I'm interested in using the following data files for academic research:
* [djia.csv](https://github.com/Marigold/universal-portfolios/blob/master/universal/data/djia.csv)
* [msci.csv](https://github.com/Marigold/universal-portfolios/blob/master/universal/data/msci.csv)
* [nyse_n.csv](https://github.com/Marigold/universal-portfolios/blob/master/universal/data/nyse_n.csv)
* [nyse_o.csv](https://

[2022-03-23 18:27] Marigold commented on #73
Hey Ryan, my bad for not citing sources. I'll try to dig them up and let you know soon.

[2022-03-23 21:21] Marigold commented on #73
It's a standard benchmark dataset that is used for on-line portfolio selection (not saying it's a good one). Here's a description from [this paper](https://deanstreetlab.github.io/papers/papers/Statistical%20Trading/Empirical%20Investigation%20of%20State-Of-The-Art%20Mean%20Reversion%20Strategies%20for%20Equity%20Markets.pdf)
<img width="404" alt="image" src="https://user-images.githubusercontent.

[2022-03-23 22:18] r-zip commented on #73
Thank you so much for your quick reply! This is very helpful.

[2022-03-23 22:18] #73 closed

[2022-06-27 10:24] AwesomeCap opened #81 "2 questions"
Hi Marigold!
I have 2 questions:

1. How do you get a time-series, with the result of the olps every day, out of the "result"?
I can only find summaries like the "result.summary()" from the result.

2. How do you plot the result of many different olps in the same graph?
Right now you only get one olps as PORTFOLIO and UCRP when doing  "result.plot()".

Thank you for your time in advance.

[2022-07-03 13:13] sabirjana opened #82 "Installation Issues"
Hi,
I am using Python 3.9.7, facing the following error while installing using pip. Appreciate your help.

[code]

[2022-07-04 19:40] Marigold commented on #82
Hey @sabirjana, python 3.9+ is not yet supported. Can you try 3.8 (using e.g. [pyenv](https://github.com/pyenv/pyenv))? I'll see if I can update libraries to support 3.9+ this week.

[2022-07-05 06:42] Marigold commented on #82
Can you try updating to 0.4.9 on PyPI? I've updated dependencies.

[2022-07-05 14:28] sabirjana commented on #82
Hi @Marigold, Appreciate your response however I am still facing the issue. Please see the below error.

[code]

[2022-07-09 04:02] sabirjana commented on #82
@Marigold, Any idea? Appreciate your help. Thanks

[2022-07-10 14:15] shayandavoodii opened #83 "specifying the args of CORN class"
Hi, I'm trying to use your code for implementing the CORN strategy, But I'm confused about using it because of poor documentation. So, combining the CORN paper and your codes, I got a light taste, But not adequate.

So I decided to open an issue to get help from you. [CORN class](https://github.com/Marigold/universal-portfolios/blob/4aece03a141666b7eb9c25f14d1fe9bf333c7320/universal/algos/corn.py#

[2022-07-11 20:05] Marigold commented on #67
Installed latest scikit-learn version, so this might be fixed.

[2022-07-11 20:05] #67 closed

[2022-07-11 20:17] Marigold commented on #83
Hey @shayandavoodii, to run CORN (or any other algorithm) you just call e.g.

[code]

the other methods like `init_step` or `step_slow` are internal (should have been prefixed with underscore) and you don't need even know about them. What is interesting for analysis are methods and attributes of `result` from the code above.

[2022-07-12 05:47] sabirjana commented on #82
Many thanks!! I could able to install however it is conflicting with seaborn==0.11.2, Below is the code snippet regarding conflicts.

[code]

[2022-07-12 16:11] Marigold commented on #82
It's meant to be installed in virtualenv (or you'd have to downgrade seaborn). You should probably just install it with `pip install --no-deps` and install missing dependencies manually (if you see an error about missing library when running some code).

[2022-07-12 16:12] Marigold commented on #83
1. Yes, all algorithms have consistent interface and it's enough to call `run()` on them
2. I guess you mean algorithm weights by "optimal weights"? If yes, then it can be accessed as `result.B`. Check out `result.__dict__` for a dictionary of available attributes

[2022-07-12 16:22] shayandavoodii commented on #83
But, what are the `result.weights` then?

[2022-07-12 16:36] sabirjana commented on #82
After you updated cvxopt 1.3.0, I install universal-portfolios and that downgraded some of the packages such as seaborn. I upgraded these packages afterward and it works. Thanks!

[2022-07-12 18:27] Marigold commented on #83
`result.weights` is a method that is run internally and returns `B`. What you're looking for is `result.B`.

[2022-07-12 18:39] shayandavoodii commented on #83
Do you mean, `result.weights` returns the same thing as `result.B`?

[2022-07-12 20:17] shayandavoodii commented on #83
Thanks a lot!

[2022-07-12 20:17] #83 closed